Data Preprocessing

Import the libraries

In [173]:
import pandas as pd

Load the dataset

In [174]:
df = pd.read_csv("microsoft.csv")

Preview the dataset

In [175]:
print(df.head())
print(df.info())

         Date     Close      High       Low      Open      Volume
0  1986-03-13  0.059598  0.062259  0.054277  0.054277  1031788800
1  1986-03-14  0.061726  0.062791  0.059598  0.059598   308160000
2  1986-03-17  0.062791  0.063323  0.061726  0.061726   133171200
3  1986-03-18  0.061194  0.063323  0.060662  0.062791    67766400
4  1986-03-19  0.060130  0.061726  0.059598  0.061194    47894400
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9935 entries, 0 to 9934
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Date    9935 non-null   object
 1   Close   9935 non-null   float64
 2   High    9935 non-null   float64
 3   Low     9935 non-null   float64
 4   Open    9935 non-null   float64
 5   Volume  9935 non-null   int64
dtypes: float64(4), int64(1), object(1)
memory usage: 465.8+ KB
None

Convert the "Date" column to datetime objects

In [176]:
df["Date"] = pd.to_datetime(df["Date"])

Print the information to confirm the data type has changed

In [177]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9935 entries, 0 to 9934
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Date    9935 non-null   datetime64[ns]
 1   Close   9935 non-null   float64
 2   High    9935 non-null   float64
 3   Low     9935 non-null   float64
 4   Open    9935 non-null   float64
 5   Volume  9935 non-null   int64
dtypes: datetime64[ns](1), float64(4), int64(1)
memory usage: 465.8 KB
None

Handling missing values

In [178]:
df_missing = df.isnull().sum()
print(df_missing)

Date      0
Close     0
High      0
Low       0
Open      0
Volume    0
dtype: int64

Handling Duplicates

In [179]:
df_duplicated = df.duplicated().sum()
print(df_duplicated)

0

Feature Engineering

In [180]:
# Create new feature from the "Date" column
df["Year"] = df["Date"].dt.year
df["Month"] = df["Date"].dt.month
df["Day"] = df["Date"].dt.day
df["Day_of_Week"] = df["Date"].dt.dayofweek

Set the Date Column as the Index

In [181]:
df.set_index("Date",inplace=True)

Rename the Column for Clarity

In [182]:
df.rename(columns={
    "Close": "close",
    "High": "high",
    "Low": "low",
    "Open": "open",
    "Volume": "volume",
    "Year": "year",
    "Month": "month",
    "Month":"month",
    "Day": "day",
    "Day_of_Week": "day_of_week"
},inplace=True)

Display the first 5 rows and the information

In [183]:
print(df.head())
print(df.info())

               close      high       low      open      volume  year  month  \
Date
1986-03-13  0.059598  0.062259  0.054277  0.054277  1031788800  1986      3
1986-03-14  0.061726  0.062791  0.059598  0.059598   308160000  1986      3
1986-03-17  0.062791  0.063323  0.061726  0.061726   133171200  1986      3
1986-03-18  0.061194  0.063323  0.060662  0.062791    67766400  1986      3
1986-03-19  0.060130  0.061726  0.059598  0.061194    47894400  1986      3

            day  day_of_week
Date
1986-03-13   13            3
1986-03-14   14            4
1986-03-17   17            0
1986-03-18   18            1
1986-03-19   19            2
<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 9935 entries, 1986-03-13 to 2025-08-18
Data columns (total 9 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   close        9935 non-null   float64
 1   high         9935 non-null   float64
 2   low          9935 non-null   float64
 3   open         9935 non-null   float64
 4   volume       9935 non-null   int64
 5   year         9935 non-null   int32
 6   month        9935 non-null   int32
 7   day          9935 non-null   int32
 8   day_of_week  9935 non-null   int32
dtypes: float64(4), int32(4), int64(1)
memory usage: 620.9 KB
None

Saved the cleaned data

In [ ]:
df.to_csv("microsoftcleaned.csv",index=True)
print("Saved Successfully")

Saved Successfully